<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Results | CarGo CarIn</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/gen/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/gen/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/gen/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/gen/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/gen/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/index" class="navbar-brand"><b>CarGo</b>CarIn</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
    </nav>
  </header>
  <div class="content-wrapper">
    <div class="container">
     <section class="content-header">
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="info-box">
            <div class="info-box-content">

             <% if (Specs.newCar == 0){ %>
                <% } else { %>
                  <% Specs.forEach(function(carSpecs) { %>
              <span class="info-box-number">Pickup: </span> <br>
              <span class="info-box-text">Location: <%= carSpecs.pickup_location %> </span><br>
              <span class="info-box-text">Date: <%= carSpecs.pickup_date %> </span><br>
              <span class="info-box-text">Time: <%= carSpecs.pickup_time %> </span><br>
            </div>
          </div>
        </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="info-box">
            <div class="info-box-content">
              <span class="info-box-number">Dropoff: </span> <br>
              <span class="info-box-text">Location: <%= carSpecs.dropoff_location %> </span><br>
              <span class="info-box-text">Date: <%= carSpecs.dropoff_date %></span><br>
              <span class="info-box-text">Time: <%= carSpecs.dropoff_time %></span><br>
          </div> 
          </div>
          </div>
          <div class="info-box">
           <img src="/gen/images/car1.jpg" alt="car" height="150" width="250">
            <div class="info-box-content">
              <span class="info-box-text">Brand:<%=carSpecs.brand %></span><br>
              <span class="info-box-text">Model:<%=carSpecs.model %> </span> <br>
              <span class="info-box-text">Year:<%=carSpecs.year %> </span> <br>
              <span class="info-box-text">Capacity:<%=carSpecs.capacity %> </span> <br>
              <span class="info-box-text">Car type:<%=carSpecs.car_type %> </span> <br>
              <span class="info-box-text">Car type:<%=carSpecs.color %></span><br>
              <span class="info-box-text">Price:<%=carSpecs.rent_price %> </span><br>
              <span class="info-box-text"><a href="/driverinfo"><button class="btn btn-primary">Reserve</button></a></span>
            </div> 
          </div> 
          <% }) %>
            <% } %>
        </div> 
        </div>
      </section>
    </div>
  </div>
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        Raoul and friends.
      </div>
      <strong>Copyright &copy; 2018 Group 3.</strong> All rights
      reserved.
    </div>
  </footer>
</div>
<script src="/gen/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/gen/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/gen/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/gen/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/gen/dist/js/adminlte.min.js"></script>
<script src="/gen/dist/js/demo.js"></script>
</body>
</html>
